<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>{% block title %}Wyszukiwania</title>{% endblock %}
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

</head>
<body>
{% load staticfiles %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.js"></script>


{% block content %}
    <h1>Wyszukiwania</h1>
    <hr>



    <table>
        <thead>
            <th>Nr</th>
            <th>Wyszukiwana fraza</th>
            <th>Data</th>
            <th>Wybrana oferta</th>
            <th>Zmień ofertę</th>
        </thead>
        <tbody>
            {% for searchEntry in searchEntries %}
                <tr>
                    <td>{{ searchEntry.id }}</td>
                    <td>{{ searchEntry.search_phrase }}</td>
                    <td>{{ searchEntry.date }}</td>
                    <td>
                        <a href="{{ searchEntry.chosen_offer.shop_url }}"> <!-- searchEntry.chosen_offer_obj -->
                            {{ searchEntry.chosen_offer.shop_product_name }}
                        </a>
                    </td>
                    <td>
                        <a href="/offers/{{ searchEntry.id }}">
                            <img src="/static/img/choose.png" height="30px"/>
                        </a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}
</body>
</html>
